!!! 5
html(lang='en')
	head
		title Express authentication example
	body
		h1 Hi, secure user.
		ul.count
			li 20
			li 30
			li 60
			li 90
		p Navigate to
			ul
				li: a(href="/secure") Secure content
				li: a(href="/welcome") Welcome page
				li: a(href="/logout") Logout
		form(action='/secure',method='post')
			input(type='submit',value='Sign Up',data-transition='fade', data-theme='c')
		script(src="https://unpkg.com/jquery@3.2.1/dist/jquery.js")
		script(src="https://unpkg.com/axios/dist/axios.min.js")
		script(src="test.js")
